body{
    font-family: "Noto Sans KR","Malgun Gothic",sans-serif;
    margin:0 auto; 
}
.clear {
    clear: both;
}
#section{
    width: 100%;
    text-align: center;
    margin: 100px 0 100px 0;
}
input{
    text-align: center;
    border: 0;
    border-bottom: 2px solid #0970c7;
}


/* 파트1  대표 사진 + 설명*/
#gallery_wrap{
    margin: 0 auto;
    width: 850px;
    height: 500px;
    margin-bottom: 20px;
}
#part1 #title{
    background-color: #f7f7f7;
    width: 850px;
    margin:0 auto; 
}
#contents{
    padding-top: 20px;
    color: black !important;
    font-size: 25px;
}
#contents2{
    font-size: 20px;
    padding-top: 5px;
    color: rgb(160, 160, 160);
}
#price{
    color: #0970c7;
    font-size: 25px;
    font-weight: bold;
    text-align: right;
    padding: 0 30px 20px 0;
}

/* 파트2 날짜 선택 + 수량*/
#part2{
    color: black !important;
    display: inline-block;
    /* width: 50%; */
    margin-top: 20px;
}
.demo{
    font-size: 20px;
    margin-left: 100px;
    margin-top: 20px;
    float: left;
}
#datepicker{
    font-size: 20px;
    margin-left: 15px;
    width: 200px;
}

.content_right input{
    width: 60px;
    text-align: center;
}
.plus{
    float: right;
    font-size: 30px;
    font-weight: 550;
    margin-right: 100px;
}
.minus{
    float: left;
    font-size: 30px;
    font-weight: 550;
    margin-left: 100px;
}
.content_right a{
    text-decoration: none; 
    color:#0970c7;
}
#total_amount{
    font-size: 22px;
    color:#0970c7;
    font-weight: 900;
}
dt{
    font-size: 20px;
}
#ct_qty{
    font-size: 20px;
}
.content_right{
    padding-left: 80px; 
    width:500px; 
    float: right; 
} 
.content_right dl{
    display:table; 
    width:100%; 
} 
.content_right dl dt{ 
    display:table-cell; 
    width:20%;
}
.content_right dl dd{
    display:table-cell;  
    width:80%;
}


/* 파트3 결제 버튼*/
#button{
    margin:0 auto; 
    width: 850px;
    height: 40px;
    background-color:#0970c7;
    font-size: 20px;
    padding: 15px 0 5px 0;

}
#pay { 
    text-decoration: none; 
    color: white;
}
#line{
    display: inline-block;
    background-color: #dfdfdf;
    margin:30px 0 10px 0 ;
    width: 850px;
    height: 2px;
}


/* 파트4 상세 내용*/
#part4{
    display: inline-block;
    margin-bottom: 50px;
}
.sharp{
    color: #0970c7;
    font-weight: 900;
}

#detail img{
    width: 400px;
    height: 600px;
}

/* 파트4 tab */
html,body {width:100%;  }
body,div,ul,li{margin:0; padding:0;}
ul,li {list-style:none;}

.tab{
    text-align: center;
    margin-top: 20px; 
    width:850px; 
    display: inline-block;  
}
.tabnav{
    font-size:0; 
    width:850
}
.tabnav li{
    display: inline-block;  
    height:50px; 
    text-align:center; 
}
.tabnav li a:before{
    content:""; 
    position:absolute; 
    left:0; 
    top:0px; 
    width:100%; 
    height:3px; 
}
.tabnav li a.active:before{background:#0970c7;}
.tabnav li a.active{border-bottom:1px solid #fff;}
.tabnav li a{ 
    position:relative; 
    display:block; 
    background: #f7f7f7; 
    color: #000; 
    padding:0 105px; 
    line-height:50px; 
    text-decoration:none; 
    font-size:20px;
}
.tabnav li a:hover,.tabnav li a.active{background:#fff; color:#0970c7; }
.tabcontent{padding: 20px; height:244px; margin-bottom: 250px;}

/* tab01 */
#tab01 li{
    color: black !important;
    border: 1px solid #0970c7;
    padding: 3px 10px 3px 10px;
    margin: 10px 10px 10px 0;
    border-radius: 10px;
    float: left;
    list-style-type: none;
}
#img img{
    width: 460px;
    height: 300px;
    float: left;
    border-radius: 30px;
    margin:60px 0 0 0;
}
.title{
    margin-top: 100px;
    vertical-align: middle;
    float: right;
    color :#0970c7;
    font-weight: 900;
    background-color: #f7f7f7;
    width:280px;
    border-radius: 20px;
    padding: 20px 20px 20px 20px ;
    font-size: 22px;
}
.img_contents{
    color :black;
    padding-top: 10px;
    font-size: 16px;
    font-weight: 500;
}

/* tab02 */
#tab02 table{
    width: 100%;
    margin: 30px 0 30px 0;
    padding-bottom: 100px;
    font-size: 18px;
}
#tab02 td{
    border-bottom: 1px solid rgb(216, 216, 216);
    line-height: 60px;
}
.list{
    background-color: #f7f7f7;
    width: 25%;
    color: black !important;
}
.content{
    width: 75%;
}

/* tab03 */
.day{
    display: inline-block;  
    width: 80%;
    background-color: #f7f7f7;
    border-radius: 20px;
    padding: 20px 0 20px 0 ;
    margin-top: 20px;
}
.day h2{
    color: black !important;
}
.time{
    color: #0970c7;
    font-size: 20px;
}
.place{
    font-size: 20px;
    margin-bottom: 10px;
    color: black !important;
}
.next{
    margin: 20px 0 20px 0;
    font-size: 20px;
    font-weight: 1000;
    color: rgb(97, 97, 97);
}